In [7]:
import seaborn as sns
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

# Load the Titanic dataset from seaborn
titanic_data = sns.load_dataset("titanic")

# Data preprocessing
titanic_data = titanic_data.drop(['deck', 'alive', 'who', 'embark_town'], axis=1)
titanic_data['sex'] = titanic_data['sex'].map({'male': 0, 'female': 1})
titanic_data['embarked'] = titanic_data['embarked'].fillna('S')
titanic_data['embarked'] = titanic_data['embarked'].map({'S': 0, 'C': 1, 'Q': 2})

# Handle missing values in the 'age' column
titanic_data['age'] = titanic_data['age'].fillna(titanic_data['age'].median())

# One-hot encode the 'class' column
titanic_data = pd.get_dummies(titanic_data, columns=['class'], prefix=['class'])

titanic_data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,adult_male,alone,class_First,class_Second,class_Third
0,0,3,0,22.0,1,0,7.2500,0,True,False,0,0,1
1,1,1,1,38.0,1,0,71.2833,1,False,False,1,0,0
2,1,3,1,26.0,0,0,7.9250,0,False,True,0,0,1
3,1,1,1,35.0,1,0,53.1000,0,False,False,1,0,0
4,0,3,0,35.0,0,0,8.0500,0,True,True,0,0,1

In [8]:
# Split the dataset into features (X) and target (y)
X = titanic_data.drop('survived', axis=1)
y = titanic_data['survived']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create a Random Forest classifier
random_forest = RandomForestClassifier(n_estimators=100, random_state=42)

# Train the classifier on the training data
random_forest.fit(X_train, y_train)

# Make predictions on the test data
y_pred = random_forest.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# Display classification report
print(classification_report(y_test, y_pred))

Accuracy: 0.8379888268156425
              precision    recall  f1-score   support

           0       0.86      0.87      0.86       105
           1       0.81      0.80      0.80        74

    accuracy                           0.84       179
   macro avg       0.83      0.83      0.83       179
weighted avg       0.84      0.84      0.84       179